@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&family=Inter:wght@400;700&family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca&family=Outfit:wght@300;400;600&family=Poppins:wght@100&family=Rubik&display=swap");


:root {
  /* Primary colors */

  --Softblue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%, 0.5);

  /* Neutral colors */

  --Verydarkblue: hsl(217, 54%, 11%);
  --VerydarkbluecardBG: hsl(216, 50%, 16%);
  --Verydarkblueline: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

body {
  background-color: var(--Verydarkblue);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Outfit;
}

.card-container {
  width: 18rem;
  height: 30rem;
  color: var(--White);
  padding: 1.1rem;
  display: grid;
  grid-template-rows: 50% 50%;
  background-color: var(--VerydarkbluecardBG);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.img-cont {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.img-cont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-cont .overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--Cyan);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.overlay img {
  width: 3rem;
  height: 2rem;
}

.img-cont:hover .overlay {
  opacity: 1;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0.9375rem;

}

.desc p {
  font-size: 1rem;
  font-weight: 300;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
}

.info div {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  margin: 0.5rem 0;
}

.price {
  color: hsl(178, 100%, 50%);
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 2rem 0 0;
  position: relative;
}

.user-info::before {
  content: "";
  width: 100%;
  position: absolute;
  height: 0.0625rem;
  top: 10px;
  background-color: var(--Verydarkblueline);
}

.user-info img {
  width: 1.8rem;
  height: 1.8rem;
  border: 0.0625rem solid hsl(0, 0%, 100%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.icons {
  margin-right: 5px;
}

.color-text {
  color: var(--Softblue);
}

.color-hover:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}
